.shows-info-small {
    padding-top: 70px;
    margin: 0 auto;
    display: flex;
    max-width: 93%;
    text-align: center;
    left: 20%;
  }

  .shows-info-small-data {
    width: 50%;
  }
  .shows-info-small-data.left {
    text-align: left;
  }
  .shows-info-small-data.right {
    text-align: right;
    padding-right: 76px;
  }

  .shows-benefits {
    display: inline-flex;
    overflow: hidden;
    height: 586px;
    width: 1838px;
    margin-top: 10px;
    scroll-behavior: smooth;
    position: relative;
    left: 3.5%;
    max-width: 92%;
  }

  #contents-benefits {
    overflow: hidden;
    display: inline-flex;
    scroll-behavior: smooth;
    height: 585px;
    max-width: 100%;
  }

  .element-benefits {
  position: relative;
  height: auto;
  width: 33%;
  margin-right: 12px;
  background-color: black;
}
#imgs-benefits {
  padding-right: 0px;
  height: auto;
  opacity: 0.7;
  width: 482px;
}

.contents-details-benefits {
  position: absolute;
  bottom: 20px;
  left: 5%;
  text-align: left;
  color: white;
  bottom: 17%;
  text-shadow: 1px 1px black;
}

#BtnBen1 {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    position: relative;
    top: 11%;
    color: white;
    border-radius: 50%;
    border: 1px;
    background-color:#91b7bb;
  }
  #BtnBen2 {
    border: 1px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    position: relative;
    top: 11%;
    color: white;
    border-radius: 50%;
    background-color:#91b7bb;
  }
  #BtnBen1:hover {
    opacity: 0.8;
  }
  #BtnBen2:hover {
    opacity: 0.8;
  }

  #BtnBen1 {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    position: relative;
    top: 11%;
    color: white;
    border-radius: 50%;
    border: 1px;
    margin-right: 7px;
    background-color: #91b7bb;
}